* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #748dfd;
    height: 100vh;
    max-width: 100vw;
    text-align: center;
    color: #fff;
    padding-top: 2rem;
}
.current-time {
    font-size: 2.6rem;
    margin: 1rem 0;
}
.alarm-input {
    display: flex;
    justify-content: center;
    align-items: center;
}
.alarm-input > * {
    height: 2rem;
    padding: 0 0.5rem;
    margin: 0 0.3rem;
}
.alarm-title {
    font-size: 2rem;
    margin: 1rem 0;
}
.alarm-cont {
    margin: 0 auto;
    height: min-content;
    width: 25vw;
    background: white;
}
.alarm {
    border-bottom: 1px solid lightgrey;
    color: black;
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.alarm-content {
    margin-left: 1rem;
}
.delete-icon > i {
    font-size: 1.1rem;
    color: #748dfd;
    font-weight: 900;
    cursor: pointer;
    margin-top: 3px;
}
@media screen and (max-width: 1140px) {
    .alarm-cont {
        width: 40vw;
    }
}
@media screen and (max-width: 770px) {
    .alarm-cont {
        width: 55vw;
    }
}
@media screen and (max-width: 500px) {
    .alarm-cont {
        width: 80vw;
    }
}
@media screen and (max-width: 350px) {
    .alarm-cont {
        width: 95vw;
    }
}